:root {
    --blue: rgb(49, 114, 255);

}

header {
    margin-bottom: 0rem;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 72px;
    color: var(--blue);
}

i {
    color: white;
}

/* Classes */
.top-margin {
    margin-top: 5rem;
}

.block-container {
    display: inline-grid;
    width: 600px;
    height: 600px;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1rem;
    border: 1rem solid black;
    border-radius: 1rem;
    background-color: black;
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    background-color: var(--blue);
}

.block:hover {
    background-color: rgb(89, 142, 255);
}

.block:active {
    background-color: rgb(42, 89, 190);
}

.button {
    border-radius: 0.5rem;
    font-weight: 500;
}

.round {
    border-radius: 0.5rem;
    font-size: 1.5rem;
}

/* IDs */
#toast-container {
    min-width: 10%;
    top: 50%;
    right: 50%;
    transform: translateX(50%) translateY(50%);
  }